include ../_mixins/global

doctype
html.body-full-height
  head
    block head
      include ./parts/_head
    title
      block pageTitle
        | #{pageTitle ? pageTitle : title ? title+' - ' : ''}
    body#body
        +globalVar('defaultDateFormat', ddf)
        block body
            .page-container.page-navigation-top.page-navigation-top-custom
                block content
