include ../_mixins/global

doctype
html.body-full-height
  head
    block head
      include ./parts/_head
      link(rel='stylesheet', href='#{user.theme}')
    title
      block pageTitle
        | #{pageTitle ? pageTitle+' - ' : title ? title+' - ' : ''}
        | retreaver
    body#body
        +globalVar('defaultDateFormat', ddf)
        block body
            .page-container
              .page-sidebar.page-sidebar-fixed.scroll.mCustomScrollbar._mCS_1.mCS-autoHide
                .mCustomScrollBox.mCS-light.mCSB_vertical.mCSB_inside
                  .mCSB_container
                    include ./parts/navigation
              .page-content
                //- include ./parts/topnav
                //- include ./parts/breadcrumbs
                //- .page-title
                //-   h2
                //-     //- span.fa.fa-arrow-circle-o-left
                //-     block title
                //-       |  #{title || 'Title goes here'}
                .page-content-wrap.cnt
                  .row
                    block content
