// data-table
#body .sorting:before,
#body .sorting_asc:before,
#body .sorting_desc:before {
    display: none;
}

#body .sorting:after,
#body .sorting_asc:after,
#body .sorting_desc:after {
    line-height: 30px;
}

#body .re-datatable {
    margin-top: 0 !important;
    min-width: 100%;
}

#body .dt-button-collection.dropdown-menu>.active>a {
    color: #000;
    background-color: #ffffff;
}

#body .dt-button-collection.dropdown-menu>.active>a:focus,
#body .dt-button-collection.dropdown-menu>.active>a:hover {
    background-color: #f0f4f9;
}

#body .dt-button-collection.dropdown-menu .dt-button.buttons-columnVisibility a {
    opacity: 0.3;
}

#body .dt-button-collection.dropdown-menu .dt-button.buttons-columnVisibility.active a {
    opacity: 1;
}

#body .re-datatable th {
    border: solid 1px rgb(206, 216, 227);
}

#body {
    // datatables
    .page-content-wrap,
    .my-tabs-box {
        >div {
            height: calc(100vh - 100px);
        }
    }
    // .page-content-wrap {
    //     margin-top: 15px;
    // }
    // Над шапкой
    .pre-header {
        background: #fff;
        li {
            margin: 15px 0;
        }
        ul {
            margin: 0;
        }
        .reg {
            border-left: 1px solid #6c83a5;
        }
    }
    // Навигация
    .nav-box {
        background: #33414e;
    }
    .my-nav {
        width: 100%;
        padding-right: 0;
        .description {
            display: block;
        }
        height: auto;
        .xn-logo {
            border-bottom: none;
            a {
                background-size: contain;
            }
        }
        li {
            border-bottom: 2px solid #33414e;
            > a {
                text-align: center;
                font-size: 14px;
            }
        }
        li.h5 {
            &:hover {
                border-bottom: 2px solid #ffd559;
            }
        }
        >.active {
            border-bottom: 2px solid #ffd559;
        }
    }
    // Правая часть
    .navbar-right {
        margin-right: 0;
        .h5 {
            margin: 0;
            a {
                color: #fff;
                &:hover {
                    background: #3d4e5d;
                }
                &:focus {
                    background: #3d4e5d;
                }
            }
        }
    }
    // Личный кабинет
    .personal {
        .cnt {
            margin-top: 0;
        }
        .breadcrumb {
            margin-left: 300px;
        }
    }
    // табы
    .my-tabs-box >div {
        display: flex;
        .nav-tabs {
            li.disabled {
                margin-bottom: 10px;
                a {
                    &:hover {
                        background: transparent;
                        color: #fff;
                        cursor: default;
                    }
                }
            }
            margin-bottom: 0;
            margin-left: -10px;
            margin-top: -40px;
            background: #33414e;
            position: static;
            min-width: 300px;
            a {
                font-weight: 100;
                font-size: 13px;
                span {
                    margin-left: 5px;
                }
                background: #33414e;
                padding: 15px 25px;
                color: #fff;
                &:hover {
                    background: #3d4e5d;
                    color: #ffd559;
                }
            }
            li.active {
                a {
                    border-radius: 0;
                    background: #3d4e5d;
                    color: #ffd559;
                }
            }
        }
        .tab-content {
            margin-left: 15px;
            width: 100%;
            min-width: 300px;
            .tap-pane {
                >.panel {
                    margin-bottom: 0;
                }
            }
        }
        // Создать заявку
        .tender-info {
            line-height: 1;
        }
        .notice {
            label {
                vertical-align: middle;
                font-weight: normal;
            }
            #notice {
                margin-left: 5px;
            }
        }
        // мои заявки
        .warn {
            background: rgba(51, 122, 183, 0.19);
            border-left: 2px solid rgb(51, 122, 183);
            padding: 10px 15px;
        }
        #tab1 {
            .col-md-6,
            .col-md-12 {
                padding-left: 0;
            }
        }
    }
    // Лэндинг
    .landing-img-box {
        img {
            width: 100%;
        }
    }
    .flex-row {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }
    .flex-item {
        flex: 1;
    }
    .landing-title {
        margin-bottom: 30px;
    }
    .l-title {
        width: 100%;
        padding: 20px 50px;
        background: #33414e;
        text-align: center;
        color: #fff;
        margin: 0;
    }
    .profit {
        margin-bottom: 30px;
        .profit-item {
            width: 75px;
            margin: 20px;
            padding: 30px;
            text-align: center;
            border: 1px solid #ddd;
            border-radius: 3px;
            i {
                color: #fea223;
            }
        }
    }
    .get-tender-row {
        .get-tender {
            text-transform: uppercase;
            margin-left: 10px;
            font-size: 1.2em;
            padding: 10px 15px;
        }
    }
    .radio-flex {
        display: flex;
        align-items: baseline;
        label {
            margin-right: 10px;
        }
        input {
            width: 20px;
            height: 20px;
        }
        span {
            font-size: 14px;
            vertical-align: -3px;
            margin-left: 10px;
        }
    }
    .calc {
        .input-group-addon {
            background: #89ad4d;
            border: 1px solid #89ad4d;
        }
        .consider {
            display: flex;
            align-items: center;
            justify-content: space-between;
            div {
                flex: 1;
                h4 {
                    margin: 0;
                }
            }
        }
    }
    .steps {
        .h4 {
            color: #fff;
        }
        .step-item {
            margin: 20px;
            padding: 30px;
            text-align: center;
            border: 1px solid #ddd;
            border-radius: 3px;
            .step {
                display: inline-block;
                width: 60px;
                padding: 15px;
                color: #fff;
                background: #fea223;
                border-radius: 50%;
            }
            .step-footer {
                i,
                span {
                    vertical-align: middle;
                }
                span {
                    margin-left: 10px;
                }
            }
        }
    }
    .l-footer {
        p {
            text-align: center;
            font-size: 18px;
            font-weight: 100;
        }
    }
}

// карусель
.carousel-control {
    width: 4%;
}

@media (max-width: 767px) {
    .carousel-inner .active.left {
        left: -100%;
    }
    .carousel-inner .next {
        left: 100%;
    }
    .carousel-inner .prev {
        left: -100%;
    }
    .active > div {
        display: none;
    }
    .active > div:first-child {
        display: block;
    }
}

@media (min-width: 767px) and (max-width: 992px) {
    .carousel-inner .active.left {
        left: -50%;
    }
    .carousel-inner .next {
        left: 50%;
    }
    .carousel-inner .prev {
        left: -50%;
    }
    .active > div {
        display: none;
    }
    .active > div:first-child {
        display: block;
    }
    .active > div:first-child + div {
        display: block;
    }
}

@media (min-width: 992px) {
    .carousel-inner .active.left {
        left: -25%;
    }
    .carousel-inner .next {
        left: 25%;
    }
    .carousel-inner .prev {
        left: -25%;
    }
}

@media (min-width: 1025px) {
    #body {
        .xn-logo {
            a {
                width: 300px;
            }
        }
    }
}

@media (max-width: 1280px) {
    #body {
        .page-content {
            padding-top: 0;
        }
        .my-nav {
            position: static;
        }
    }
}

// Партнеры
.partners-href {
    color: #434a54 !important;
    background: #fff;
    padding: 15px;
    display: block;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    &:hover {
        border-color: #999;
    }
}

.partners-logo-box {
    background-color: #fff;
    padding: 15px;
    border: 1px solid #ddd;
}

.partners-text-box {
    p,
    strong {
        font-size: 16px;
    }
    p {
        font-weight: 100;
    }
}

// авторизация
.login-container {
    .login-box {
        width: 450px;
        .login-body {
            .auth-tabs {
                margin-top: 0;
                border-top: none;
                border-radius: 0;
                background: #444e59;
                .nav {
                    // background: #33414e;
                    border: none;
                    margin: 0;
                    padding: 0;
                    border: 1px solid #33414e;
                    li {
                        a {
                            background: transparent;
                            color: #fff;
                            border: none;
                            border-radius: 0;
                        }
                    }
                    li.active {
                        a {
                            background: #33414e;
                        }
                    }
                }
                .tab-content {
                    padding-left: 0;
                    padding-right: 0;
                }
            }
        }
    }
}

//  ЛК
//  запросы на инвестирование
#reqi {
    display: flex;
    align-items: center;
    width: 100%;
    input.reqi-control {
        width: 80px;
    }
    .reqi-control {
        width: auto;
        margin-right: 15px;
    }
}

// Услуги
#body {
    .services {
        .service-item {
            flex-basis: 20%;
        }
    }
    //  datatables
    .select-checkbox {
        &:after {
            display: none;
            content: '' !important;
        }
    }
}

.re-white-popup {
    max-width: 300px;
}
