// data-table
#body .sorting:before,
#body .sorting_asc:before,
#body .sorting_desc:before {
    display: none;
}

#body .sorting:after,
#body .sorting_asc:after,
#body .sorting_desc:after {
    line-height: 30px;
}

#body .re-datatable {
    margin-top: 0 !important;
    min-width: 100%;
}

#body .dt-button-collection.dropdown-menu>.active>a {
    color: #000;
    background-color: #ffffff;
}

#body .dt-button-collection.dropdown-menu>.active>a:focus,
#body .dt-button-collection.dropdown-menu>.active>a:hover {
    background-color: #f0f4f9;
}

#body .dt-button-collection.dropdown-menu .dt-button.buttons-columnVisibility a {
    opacity: 0.3;
}

#body .dt-button-collection.dropdown-menu .dt-button.buttons-columnVisibility.active a {
    opacity: 1;
}

#body .re-datatable th {
    border: solid 1px rgb(206, 216, 227);
}

#body {
    // datatables
    .page-content-wrap,
    .my-tabs-box {
        >div {
            height: calc(100vh - 91px);
        }
    }
    .page-content-wrap {
        margin-top: 15px;
    }
    // Над шапкой
    .pre-header {
        background: #fff;
        li {
            margin: 15px 0;
        }
        ul {
            margin: 0;
        }
        .reg {
            border-left: 1px solid #6c83a5;
        }
    }
    // Навигация
    .nav-box {
        background: #33414e;
    }
    .my-nav {
        width: auto;
        .description {
            display: block;
        }
        height: auto;
        .xn-logo {
            border-bottom: none;
            a {
                width: 300px;
                background-size: contain;
            }
        }
        li {
            border-bottom: 2px solid #33414e;
            > a {
                text-align: center;
                font-size: 14px;
            }
        }
        li.h5 {
            &:hover {
                border-bottom: 2px solid #ffd559;
            }
        }
        >.active {
            border-bottom: 2px solid #ffd559;
        }
    }
    // Правая часть
    .navbar-right {
        margin-right: 0;
        .h5 {
            margin: 0;
            a {
                color: #fff;
                &:hover {
                    background: #3d4e5d;
                }
                &:focus {
                    background: #3d4e5d;
                }
            }
        }
    }
    // Личный кабинет
    .personal {
        .cnt {
            margin-top: 0;
        }
        .breadcrumb {
            margin-left: 300px;
        }
    }
    // табы
    .my-tabs-box >div {
        display: flex;
        .nav-tabs {
            margin-bottom: 0;
            margin-left: -10px;
            margin-top: -40px;
            background: #33414e;
            position: static;
            min-width: 300px;
            a {
                font-weight: 100;
                font-size: 13px;
                span {
                    margin-left: 5px;
                }
                background: #33414e;
                padding: 15px 25px;
                color: #fff;
                &:hover {
                    background: #3d4e5d;
                    color: #ffd559;
                }
            }
            li.active {
                a {
                    border-radius: 0;
                    background: #3d4e5d;
                    color: #ffd559;
                }
            }
        }
        .tab-content {
            margin-left: 15px;
            width: 100%;
            min-width: 300px;
            .tap-pane {
                >.panel {
                    margin-bottom: 0;
                }
            }
        }
        // Создать заявку
        .tender-info {
            line-height: 1;
        }
        .notice {
            label {
                vertical-align: middle;
                font-weight: normal;
            }
            #notice {
                margin-left: 5px;
            }
        }
        // мои заявки
        .warn {
            background: rgba(51, 122, 183, 0.19);
            border-left: 2px solid rgb(51, 122, 183);
            padding: 10px 15px;
        }
        #tab1 {
            .col-md-6,
            .col-md-12 {
                padding-left: 0;
            }
        }
    }
}
