extends ./_layouts/main.jade

block append head
  //- +globalVar('tags', tags)
  //- script(src='/ViewControllers/index.js')
  //- style.
  
  
block content
  if vue 
    .page-title
        div.col-md-9
          h2.fns-h2
            span
              img(src="/img/gerb.jpg" style="max-width: 45px;")
            span  #{title || 'Title goes here'}
        div.col-md-3.fns-row
          div.col-md-4.right-part-header
            span.h1.pull-left
              i.fa.fa-question-circle.fns-h2
            span#changeTempalte.h1.pull-right
              i.fa.fa-cog.fns-h2
          div.col-md-8
            div#fnsclock
              div.left-part
                span
              div.right-part
                span.h1

  include ./_layouts/parts/breadcrumbs
  #app
  if vue
    script(src=vue)  