extends ./_layouts/main.jade

block append head
  //- +globalVar('tags', tags)
  //- script(src='/ViewControllers/index.js')
  //- style.
  if vue
    script(src=vue)
block content
  .page-content.personal
    //- include ./_layouts/parts/preheader
    //- .page-content-header
    include ./_layouts/parts/navigation
    include ./_layouts/parts/breadcrumbs     
    .page-content-wrap.cnt.landing
      .row
        .col-md-12.mt-10
          .panel.panel-default
            .panel-body
              .container
                .jumbotron
                  h1 Тендерные займы и кредиты
                  
                div.flex-row.landing-title
                  div.flex-item
                    div.text-center
                      i.fa.fa-desktop.h1
                    p.text-center УДОБНО
                  div.flex-item
                    div.text-center
                      i.fa.fa-clock-o.h1
                    p.text-center ОПЕРАТИВНО
                  div.flex-item
                    div.text-center
                      i.fa.fa-globe.h1
                    p.text-center ДИСТАНЦИОННО
                  div.flex-item
                    div.text-center
                      i.fa.fa-cloud-upload.h1
                    p.text-center СОВРЕМЕННО
                .profit
                  h2.l-title Наши преимущества
                  .flex-row
                    .flex-item.profit-item
                      div
                        i.fa.fa-check-circle.h1
                      span.h4 1 час на одобрение
                    .flex-item.profit-item
                      div
                        i.fa.fa-check-circle.h1
                      span.h4 1 час на получение
                    .flex-item.profit-item
                      div
                        i.fa.fa-check-circle.h1
                      span.h4 Ставка от 1% на выдачу займа
                    .flex-item.profit-item
                      div
                        i.fa.fa-check-circle.h1
                      span.h4 44-ФЗ 223-ФЗ и коммерческие торги
                    .flex-item.profit-item
                      div
                        i.fa.fa-check-circle.h1
                      span.h4 Минимальный пакет документов
                hr
                .get-tender-row.text-center
                    span.h3 Получить тендерный займ просто!
                      button.btn.btn-success.get-tender(type='button') 
                        span Получить тендерный займ
                hr
                .calc.clearfix
                  h2.text-center Калькулятор
                  .col-md-12
                    .form-horizontal
                      .panel-body
                        .form-group
                          .col-md-3
                          .radio-flex.col-md-9
                            label.radio-inline
                              input(type='radio', name='optradio')
                              span
                                | Программа А
                            label.radio-inline
                              input(type='radio', name='optradio')
                              span
                                | Программа Б
                        .form-group
                          label.col-md-3.col-xs-12.control-label Сумма займа
                          .col-md-6.col-xs-12
                            .input-group
                              span.input-group-addon
                                span.fa.fa-pencil
                              input.form-control(type='text')
                            span.help-block Макс. 10 млн. руб.
                        .form-group
                          label.col-md-3.col-xs-12.control-label Срок займа
                          .col-md-6.col-xs-12
                            .input-group
                              span.input-group-addon
                                span.fa.fa-pencil
                              input.form-control(type='number')
                            span.help-block Макс. 1095 дней.
                        .form-group
                          .col-md-3
                          .consider.clearfix.col-md-6
                            div
                              .pull-left
                                button.btn.btn-success
                                  | Рассчитать
                            div
                              .pull-right
                                h4 
                                 |Комиссия за выдачу займа:&nbsp;
                                 strong 500
                hr
                .steps
                  h2.l-title
                    | Все заботы мы берем на себя
                    br
                    span.h4
                      |Получение тендерного займа без открытия р/с и залога в 4 простых шага
                  .flex-row
                    .flex-item.step-item
                      
                        span.step.h2
                          | 1
                        h4 
                          a(href="#")
                            | Отправьте заявку
                          |&nbsp;или&nbsp; 
                          strong
                            | Позвоните
                        p Менеджер уточнит детали и предложит лучшее для вас решение
                        div.step-footer
                          i.fa.fa-clock-o.h1
                          span.h5 5 мин.
                    .flex-item.step-item
                      
                        span.step.h2
                          | 2
                        h4
                          strong
                            | Отправьте всего 2 документа
                        p
                          | Для решения о выдаче займа вам понадобится бухгалтерская отчетность и заполненая анкета
                        div.step-footer
                          i.fa.fa-clock-o.h1
                          span.h5 30 мин.
                    .flex-item.step-item
                      
                        span.step.h2
                          | 3
                        h4
                          strong
                            | Получите решение по займу
                        p
                          | Вместе с одобрением вы также сразу получите предложение по банковской гарантии
                        div.step-footer
                          i.fa.fa-clock-o.h1
                          span.h5 10 мин.
                    .flex-item.step-item
                      
                        span.step.h2
                          | 4
                        h4 
                          strong
                            | Средства сразу поступают на ваш виртуальный счет
                        p 
                         | Затем деньги перечисляются на площадку срочным платежом в течение 3-х часов
                        div.step-footer
                          i.fa.fa-clock-o.h1
                          span.h5 3 час.
                hr
                .request
                  h2.l-title
                    | Подача заявки
                 
                  form#jvalidatecontacts.form-horizontal(role='form', action="javascript:alert('Form #validate2 submited');")
                    .col-md-12
                      .panel-body
                        .form-group
                          .col-md-3
                          .col-md-9
                            h3 Контактная информация
                        .form-group
                          label.col-md-3.control-label ФИО *:
                          .col-md-9
                            input.form-control(type='text', name='fio')
                            strong.help-block Обязательное поле
                        .form-group
                          label.col-md-3.control-label E-mail *:
                          .col-md-9
                            input.form-control(type='email', value='', name='email')
                            strong.help-block Обязательное поле
                        .form-group
                          label.col-md-3.control-label Телефон *:
                          .col-md-9
                            input.form-control(type='тел', value='', name='phone')
                            strong.help-block Обязательное поле
                        .form-group
                          label.col-md-3.control-label ИНН:
                          .col-md-9
                            input.form-control(type='text', value='', name='inn')
                            strong.help-block
                              | Не обязательно, но поможет нашим экспертам быстрее и точнее расчитать ваш тариф 
                        br
                        .form-group
                          .col-md-3
                          .col-md-9
                            h3 Параметры кредита
                        .form-group
                          label.col-md-3.control-label Сумма кредита *:
                          .col-md-9
                            input.form-control(type='text', name='sum')
                            strong.help-block Обязательное поле
                        .form-group
                          .col-md-3
                          .radio-flex.col-md-9
                            label.radio-inline
                              input(type='radio', name='fz')
                              span
                                | 44-ФЗ
                            label.radio-inline
                              input(type='radio', name='fz' checked)
                              span
                                | 223-ФЗ
                        .form-group
                          label.col-md-3.control-label N процедуры на zakupki.gov.ru *:
                          .col-md-9
                            input.form-control(type='email', value='', name='procedurenumber')
                            strong.help-block
                                | Искать на &nbsp;
                                a(href="http://zakupki.gov.ru") zakupki.gov.ru
                        .form-group
                          .col-md-3
                          .col-md-9
                            button.btn.btn-success.mb-control(type='submit') Направить заявку
                #message-box-success.message-box.message-box-success.animated.fadeIn
                  .mb-container
                    .mb-middle
                      .mb-title
                        span.fa.fa-check
                        |  Success
                      .mb-content
                        p
                          | Ваша заявка принята под № 234234234234, наш менеджер свяжется с вами в течение 30 мин.
                      .mb-footer
                        button.btn.btn-default.btn-lg.pull-right.mb-control-close Закрыть

    
                    
      
                  
