extends ./_layouts/main.jade

block append head
  //- +globalVar('tags', tags)
  //- script(src='/ViewControllers/index.js')
  //- style.
  if vue
    script(src=vue)
block content
  if html
    .panel
      .panel-body #{html}
  .page-content-wrap.cnt
    .row
      .col-md-12
        .panel.panel-default
          .panel-body
            p
              | Лэндинг
    