include ../../_mixins/navigation

div.nav-box.clearfix
    ul.x-navigation.x-navigation-horizontal.my-nav
      li.xn-logo
        include ./logo
        +Navigation(sails.config.navigation)
      //- li.pull-right
        //- ul.nav.navbar-nav.navbar-right.my-nav
      li.h5.pull-right
        a(href='/auth')
          span.glyphicon.glyphicon-log-in
          |  Войти
      li.h5.pull-right
        a(href='/register')
          span.glyphicon.glyphicon-user
          |  Регистрация
      
