.pre-header
    .row
      .col-md-8.col-sm-8.col-xs-8.additional-shop-info
        ul.list-unstyled.list-inline
          li.line-height-normal.hidden-xs.hidden-sm Позвоните для обсуждения деталей получения вашего займа +7 (499) 322-33-76
          li.line-height-normal.hidden-lg.hidden-md
            a(href='tel:+74996537866')
              i.fa.fa-phone.color-6c83a5
              span
                b +7 (499) 322-33-76
          li.h5.line-height-normal.hidden-xs.hidden-sm(style='border-right: none;')
            a(href='mailto:info@penenza.ru')
              span info@penenza.ru 
          li.h5.line-height-normal.hidden-lg.hidden-md
            a(href='mailto:info@penenza.ru')
              i.fa.fa-envelope.color-6c83a5
              span
                b info@penenza.ru
    
      .col-md-4.col-sm-4.col-xs-4.additional-nav
        ul.list-unstyled.list-inline.pull-right
          li.line-height-normal
            a(href='/auth')
              b Вход
          li.reg.line-height-normal.reg
            a(href='/register')
              b Регистрация